__________
# 05. Lambda | Map | Filter
The present notebook will introduce `lambda`, `map()`, and `filter()` functions, which differ from the functions you met previously both by syntax and provided functionality. We will go through numerous examples of how to define and use them, and you will have to use this knowledge in order to carry out a number of exercises.
__________

# `lambda` Expressions
A lambda function is a small anonymous function that can take any number of arguments: 

***`lambda`*** *arguments*: *expression*

Here is a lambda function that adds 10 to the number passed in as an argument:

In [1]:
x = lambda a : a + 10
x

In [2]:
x(5)

15

And another one that multiplies argument a with argument b:

In [3]:
x = lambda a, b : a * b
x

In [4]:
x(5, 6)

30

In [5]:
def times2(x):
    return x * 2

In [6]:
times2(2)

4

In [7]:
times2([111, 222])

[111, 222, 111, 222]

In [8]:
times2('We don\'t need no education')

"We don't need no educationWe don't need no education"

In [9]:
x = lambda var: var*2
x

In [10]:
x(2)

4

In [11]:
x([111,222])

[111, 222, 111, 222]

### `Exercise 1 - Lambda Sorting Tuples`
Sort a list of tuples using a `lambda` expression.

E.g.,

Input:

    marks = [('EN', 80), ('IT', 88), ('DE', 95)]
    
Output:
    
    Sorting the tuple list:

    [('EN', 80), ('IT', 88), ('DE', 95)]

In [12]:
marks = [('EN', 80), ('IT', 90), ('DE', 95)]
x = lambda a: sorted(a)
x(marks)

[('DE', 95), ('EN', 80), ('IT', 90)]

In [13]:
marks = [('EN', 80), ('IT', 99), ('DE', 95)]
marks.sort(key = lambda x: x[1])
print(f"Sorting the tuple list:\n{marks}")

Sorting the tuple list:
[('EN', 80), ('DE', 95), ('IT', 99)]

### `Exercise 2 - Lambda Sorting Dict`
Sort a list of dictionaries by color using a `lambda` expression.

Input:

    models = [{'make':'Nokia', 'model':216, 'color':'Black'}, 
              {'make':'Mi Max', 'model':'2', 'color':'Gold'}, 
              {'make':'Samsung', 'model': 7, 'color':'Blue'}]
                 
Output:
    

    Sorting the dictionary list :
    [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': 2, 'color': 'Gold'}]

In [14]:
models = [{'make':'Nokia', 'model':216, 'color':'Black'}, 
          {'make':'Mi Max', 'model':2, 'color':'Gold'}, 
          {'make':'Samsung', 'model': 7, 'color':'Blue'}]

sorted_models = sorted(models, key = lambda i: i['color'])
print(f"\nSorting the dictionary list :\n{sorted_models}")

Sorting the dictionary list :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': 2, 'color': 'Gold'}]

### `Exercise 3 - Date Time Lambda`
Extract year, month, date and time using Lambda:

Input:

    datetime.datetime(2020, 3, 28, 1, 3, 54, 121736)
    
Output:
    
    Datetime: 2020-03-28 01:06:28.325593
    Year    : 2020
    Month   : 3
    Day     : 28
    Now     : 01:06:28.325593

In [15]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2020, 4, 15, 18, 7, 11, 670772)

In [16]:
??datetime

In [17]:
year = lambda x: x.year
month = lambda x: x.month
day = lambda x: x.day
t = lambda x: x.time()
print(f'Datetime: {now}')
print(f'Year    : {year(now)}')
print(f'Month   : {month(now)}')
print(f'Day     : {day(now)}')
print(f'Now     : {t(now)}')

Datetime: 2020-04-15 18:07:11.670772
Year    : 2020
Month   : 4
Day     : 15
Now     : 18:07:11.670772

In [18]:
t = lambda x: (x.year, x.month, x.day, x.time())
t(now)

(2020, 4, 15, datetime.time(18, 7, 11, 670772))

### `Exercise 4 - Lambda Printing`
Create a lambda named `print2`, which works the same way as `print`, but always uses tab as a separator.

`Hint` You will need the `*` operators.

In [20]:
print2 = lambda a: print(*a)
print2("jhwfge 4564")

j h w f g e   4 5 6 4

In [21]:
print2 = lambda a: print(*a, sep='\t')
print2('asds sas')

a	s	d	s	 	s	a	s

In [22]:
print2 = lambda x: print(*x.split(), sep="\t")
print2("My name is Povilas Pazera.")

My	name	is	Povilas	Pazera.

In [23]:
s = 'My name is Povilas Pazera.'
print2 = lambda *args, **kwargs: print(*args, sep='\t', **kwargs)
print2(*s.split())
print(*s.split())

My	name	is	Povilas	Pazera.
My name is Povilas Pazera.

___________
# Map & Filter

`Map` & `Filter` allow the programmer to write simpler, shorter code, without thinking about loops or branching. This way of coding is also known as functional programming, since we apply a function across a number of iterables in one full swoop. Both of these functions come built-in with Python (in the __builtins__ module) and require no importing.

## Map
The `map()` function in python has the following syntax:

    map(func, *iterables)

Where `func` is the function to be applied on each of the iterable elements (as many as there are). Note the use of `*`, for an arbitrary number of arguments. Additional notes:

- In Python 3, `map()` returns a map object which is a generator object.
- To get the result as a list, `list()` function can be called on the map object, e.g. `list(map(func, *iterables))`.
- The number of arguments to func must be the number of iterables listed.

Let's say you have a list (iterable) of your chosen laptop brands and want to uppercase them. In traditional Python, you would do something like this:

In [24]:
import autotime
%load_ext autotime

In [25]:
%%timeit
laptops = ['acer', 'asus', 'macbook', 'lg']
[l.upper() for l in laptops]

769 ns ± 118 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
time: 6.31 s

Alternatively, you can do the same using the `map()` function:

In [26]:
%%timeit
laptops = ['acer', 'asus', 'macbook', 'lg']
list(map(str.upper, laptops))

784 ns ± 27 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
time: 6.37 s

`func` corresponds to virtually any function, so we can also `map()` our own `def`initions:

In [27]:
seq = range(11, 33, 3)
seq = list(seq)
seq

[11, 14, 17, 20, 23, 26, 29, 32]

time: 2.13 ms

In [28]:
def times2(x):
    return x * 2

map(times2, seq)

time: 1.89 ms

In [29]:
list(map(times2, seq))

[22, 28, 34, 40, 46, 52, 58, 64]

time: 6.06 ms

In [30]:
def squared(x):
    return x ** 2

list(map(squared, seq))

[121, 196, 289, 400, 529, 676, 841, 1024]

time: 3.1 ms

We can also combine `map()` with `lambda`:

In [31]:
list(map(lambda x: x * 2, seq))

[22, 28, 34, 40, 46, 52, 58, 64]

time: 1.83 ms

### `Exercise 5 - Map Stats`
Assume that you gathered a list of stats (floats) about your working routines (be it the averages of customers that joined the system during each day of the month, the sums of money transactions, anything of the kind):

    numbers = [0.356, 11.12, 16.534238, 3.2456, 9.1, 5, 13.6]
    
You want to round these numbers to have the same decimal placing via the `map()` function and the `round()` Python built-in.

In [32]:
numbers = [0.356, 11.12, 16.534238, 3.2456, 9.1, 5, 13.6]
result = list(map(round, numbers))
result

[0, 11, 17, 3, 9, 5, 14]

time: 2.24 ms

Now change the functions, so that each of the elements is rounded to the position of it in the list. That is, round up the first element in the list to one decimal place, the second element in the list to two decimal places, the third element in the list to three decimal places, etc. 

`Note` Round function requires two arguments, so we need to pass in two iterables.

In [33]:
numbers = [0.356, 11.12, 16.534238, 3.2456, 9.1, 5, 13.6]
result = list(map(round, numbers, range(1,7)))
print(result)

[0.4, 11.12, 16.534, 3.2456, 9.1, 5]
time: 786 µs

### `Exercise 6 - Map Lambda Zip...?`
Create a custom `zip()` function using `map()` and `lambda()`:

    s = ['a', 'b', 'c', 'd', 'e']
    n = [1,2,3,4,5]
    
    print(zip(s,n))
    
    [('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [34]:
s = ['a', 'b', 'c', 'd', 'e']
n = [1,2,3,4,5]

def zip(my_strings, my_numbers): 
    return list(map(lambda x, y: (x, y), my_strings, my_numbers))
    
zip(s,n)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

time: 4.63 ms

__________________
# `filter()`
Having the syntax of the form: 

    filter(func, iterable)

`filter()`then passes each element in the iterable through some function that requires to return boolean values, "filtering" away those that are false. In contrast, `map()` passes each element in the iterable through a function and returns the result of all elements having passed through the function.

There are a few points worth remembering when thinking about `filter()`:

- Unlike `map()`, only one iterable is required.
- The `func` argument is required to return a boolean type. If it doesn't, filter simply returns the iterable passed to it. Also, as only one iterable is required, it's implicit that func must only take one argument.
- `filter` passes each element in the iterable through `func` and returns only the ones that evaluate to `True`.

Here is a simple example of a function filtering a list of numbers:

In [35]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

over_75 = list(filter(is_A_student, scores))
over_75

[90, 76, 88, 81]

time: 3.92 ms

And here is a palindrome detector using `filter` combined with `lambda`:

In [36]:
dromes = ("demigod", "rewire", "madam", "anutforajaroftuna", "kiosk")
palindromes = list(filter(lambda word: word == word[::-1], dromes))
palindromes

['madam', 'anutforajaroftuna']

time: 3.46 ms

And a few examples more just to make it even clearer:

In [37]:
seq

[11, 14, 17, 20, 23, 26, 29, 32]

time: 2.15 ms

In [38]:
list(filter(lambda x: x > 20, seq))

[23, 26, 29, 32]

time: 2.12 ms

In [39]:
list(filter(lambda x: 20 < x < 30, seq))

[23, 26, 29]

time: 4.94 ms

In [40]:
input_value = range(10, 100, 2)
list(input_value)

[10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

time: 3.11 ms

In [41]:
list(filter(lambda x: x % 3 == 0, input_value))

[12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

time: 2.23 ms

In [42]:
[x for x in input_value if x % 3 == 0]

[12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

time: 5.21 ms

In [43]:
from time import time

time: 489 µs

In [44]:
input_value = range(10, 100000, 2)

time: 444 µs

In [45]:
%%timeit
list(filter(lambda x: x % 3 == 0, input_value))

8.45 ms ± 288 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
time: 6.92 s

In [46]:
%%timeit
[x for x in input_value if x % 3 == 0]

4.29 ms ± 91 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
time: 3.45 s

### `Exercise 7 - Is Even`
Create a function `is_even` that takes a list of numbers and returns a new list with even numbers replaced by `True` and odd numbers replaced by `False`:

Input:
    
    is_even([1, 2, 3, 4, 4])

Output:

    [False, True, False, True, True]

In [51]:
%%time
def is_even(list_of_numbers):
    return [num % 2 == 0 for num in list_of_numbers]

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 7.39 µs
time: 1.13 ms

In [52]:
%%time
def is_even(list_of_numbers):
    return list(filter(lambda even : True if (even % 2 == 0) else False, list_of_numbers))

is_even(list(range(1,10000)))

CPU times: user 1.72 ms, sys: 0 ns, total: 1.72 ms
Wall time: 1.74 ms
time: 3.78 ms

In [53]:
def is_even(x: [int]) -> [bool]:
    """
    Replaces even numbers in the list with True and odd with False
    
    Arguments:
        x {[int]} -- list of numbers
        
    Returns:
        [bool] -- list of booleans
        
    Examples:
        >>> is_even([1, 2, 3, 4, 4])
        [False, True, False, True, True]
    """
    return list(map(lambda y: y % 2 == 0, x))

time: 1.07 ms

### `Exercise 8 - Custom Encrypt!`
Create a function `encrypt(s, X, Y)` that takes a string `s` and 2 integers `X` and `Y` as an input, and changes its characters to encrypt the message:

    s - string
    X - int
    Y - int

    `The low tide rises at 6pm on the 10th and at 7pm on the 21st message 24 058 55 25`
    
- odd numeric characters are converted to their corresponding letters of the alphabet + X 
- even numeric characters are converted to their corresponding letters of the alphabet + 2X 
- alpha characters are converted to their numerical representation, where and odds get + Y, evens get +2Y.

In [61]:
message = 'The low tide rises at 6pm on the 10th and at 7pm on the 21st message 24 058 55 25'
x = 2
y = 5

time: 726 µs

In [62]:
def encrypt_char(c, x, y):
    
    if c.isdigit():
        c = int(c)
        if c % 2 == 0:
            return chr(c+x)
        else:
            return chr(c+2*x)

    if c.isalpha():
        num = ord(c)
        if num % 2 == 0:
            return chr(num+y*2)
        else:
            return chr(num+y)

    else:
        return c

time: 1.04 ms

In [65]:
''.join(list(map(lambda a: encrypt_char(a, x, y), message)))

^rj vt| ~nnj |nxjx f~ zr tx ~rj ~r fxn f~ zr tx ~rj x~ rjxxflj  
 		 
time: 1.24 ms

In [66]:
# MARTYNAS CODE
import string as st
s = 'The low tide rises at 6pm on the 10th and at 7pm on the 21st message 24 058 55 25'
#s = 'Banana 30 cm long is yellow fruit'
CORR = st.ascii_letters
# 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'
def encrypt(s, X, Y): # naudojant savo sukurtą generatrorių
    for ch in s:
        if ch.isnumeric() and int(ch) % 2 != 0: # numeric and odd
            yield str(CORR[int(ch) + X])
        elif ch.isnumeric() and int(ch) % 2 == 0: # numeric and even
            yield str(CORR[int(ch) - X])
        elif ch.isalpha() and ord(ch) % 2 != 0: # alpha and odd
            yield str(CORR.index(ch) + Y) #st.ascii_letters.index(ch) + Y
        elif ch.isalpha() and ord(ch) % 2 == 0: # alpha and even
            yield str(CORR.index(ch) - Y) #st.ascii_letters.index(ch) + Y
        else:
            yield ch
X, Y = 2, 5
encrypted = list(encrypt(s, X, Y))
print(''.join(encrypted))

4029 61927 1413-29 121323923 514 e1017 198 1429 dY142 58-2 514 j1017 198 1429 ad2314 17923235119 ac Yhg hh ah
time: 5.93 ms

In [68]:
def num(number, X):
    if number % 2 == 0:
        return chr(number - X)
    else:
        return chr(number + X)
    
def alp(letter, Y):
    num_eq = ord(letter)
    if num_eq % 2 == 0:
        return (num_eq - Y)
    else:
        return (num_eq + Y)
    
def listToString(list_): 
    str1 = ""
    for item in list_:
        str1 += str(item)
    return str1
    #return ''.join(list_)

def encrypt(s, X, Y):
    enc = []
    for item in s:
        if item.isspace():
            enc.append(ord(item))
        elif item.isalpha():
            enc.append(alp(item, Y))
        elif item.isnumeric():
            enc.append(num(int(item), X))
    return enc

    #return listToString(enc)

time: 4.38 ms

### `Exercise 9 - Custom Decrypt!`
Create a decryption function that returns the original string representation when given the encrypted version as the input and the XYZ code.

In [ ]:
# MARTYNAS CODE

In [ ]:
def iseven(i):
    # f-ja patikrinti ar skaičius lyginis
    return ((i) % 2) == 0

def decrypt(encrypted_data, X, Y):
    for element in encrypted_data:
        try:
            element = int(element)
            if iseven(element) ^ iseven(Y): # xor, buvo atimta
                yield CORR[element + Y]
            else: # abu odd, buvo prideta
                yield CORR[element - Y]
        except:
            if element.isalpha(): # buvo skaičius
                if iseven(X) ^ iseven(CORR.index(element)): # buvo pridėta
                    yield CORR.index(element) - X
                else: # buvo atimta
                    if (CORR.index(element) + X) >= len(CORR):
                        yield CORR.index(element) + X - 52
                    else:
                        yield CORR.index(element) + X
            else:
                #print(' ')
                yield ' '
print(''.join([str(char) for char in list(decrypt(encrypted, X, Y))]))